Notebook

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [1]:
import dataprep
data = dataprep.df_final

In [3]:
data.head()

,id,first_name,last_name,party,state,year,age,type,first_year
63262,A000001,Fred,Aandahl,Republican,ND,1951,54.0,rep,Y
63263,A000001,Fred,Aandahl,Republican,ND,1952,55.0,rep,N
63264,A000001,Fred,Aandahl,Republican,ND,1953,56.0,rep,N
74050,A000002,Watkins,Abbitt,Democrat,VA,1947,39.0,rep,Y
74051,A000002,Watkins,Abbitt,Democrat,VA,1948,40.0,rep,N

In [9]:
from pathlib import Path
import glob

In [17]:
df_test = pd.read_csv('data/ACSDT1Y2011.B01002-Data.csv', skiprows=1)
df_test.head()

,Geography,Geographic Area Name,Estimate!!Median age!!Total,Margin of Error!!Median age!!Total,Annotation of Margin of Error!!Median age!!Total,Annotation of Estimate!!Median age!!Total,Estimate!!Median age!!Male,Margin of Error!!Median age!!Male,Annotation of Margin of Error!!Median age!!Male,Annotation of Estimate!!Median age!!Male,Estimate!!Median age!!Female,Margin of Error!!Median age!!Female,Annotation of Margin of Error!!Median age!!Female,Annotation of Estimate!!Median age!!Female,Unnamed: 14
0,0100000US,United States,37.3,0.1,NaN,NaN,35.9,0.3,NaN,NaN,38.7,0.1,NaN,NaN,NaN

In [21]:
df_test['Estimate!!Median age!!Total'][0]

37.3

In [13]:
files = glob.glob('data/*.csv')
print(files)
# for file in files:
#     df = pd.read_csv(file)
#     print(df.head())
# print(files)
# for file in Path(folder).glob('*.csv'):
#     print(1)
#     df = pd.read_csv(file)
#     df.fillna(0, inplace=True)
#     fig, ax = plt.subplots()
#     df.groupby('Day_type').plot(x = 'Time', y = 'avg_vt', ax=ax, grid=True)

#     plt.savefig(file.with_suffix('.png'), index = False)
#     df.to_csv(file.with_suffix('.csv'), index = False)

['data/ACSDT1Y2011.B01002-Data.csv', 'data/ACSDT1Y2019.B01002-Data.csv', 'data/ACSDT1Y2016.B01002-Data.csv', 'data/ACSDT1Y2018.B01002-Data.csv', 'data/ACSDT1Y2017.B01002-Data.csv', 'data/ACSDT1Y2010.B01002-Data.csv', 'data/ACSDT1Y2015.B01002-Data.csv', 'data/ACSDT1Y2012.B01002-Data.csv', 'data/ACSDT1Y2013.B01002-Data.csv', 'data/ACSDT1Y2021.B01002-Data.csv', 'data/ACSDT1Y2014.B01002-Data.csv']

In [28]:
files = glob.glob('data/*.csv')
files.sort()
year_list = 
files

['data/ACSDT1Y2010.B01002-Data.csv',
 'data/ACSDT1Y2011.B01002-Data.csv',
 'data/ACSDT1Y2012.B01002-Data.csv',
 'data/ACSDT1Y2013.B01002-Data.csv',
 'data/ACSDT1Y2014.B01002-Data.csv',
 'data/ACSDT1Y2015.B01002-Data.csv',
 'data/ACSDT1Y2016.B01002-Data.csv',
 'data/ACSDT1Y2017.B01002-Data.csv',
 'data/ACSDT1Y2018.B01002-Data.csv',
 'data/ACSDT1Y2019.B01002-Data.csv',
 'data/ACSDT1Y2021.B01002-Data.csv']

In [31]:
str_test = files[0]

In [30]:
import re

In [38]:
found = re.search(r'20..', str_test)
print(found)

<re.Match object; span=(12, 16), match='2010'>